{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "modules": false,
        "targets": "> 0.25%, not dead"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-transform-class-properties"
  ]
}
